<h1>Module Counts</h1>
<table>
<% @repositories.each do |r| %>
  <tr>
    <td><a href="<%= r.url %>"><%= r.name %></a></td>
    <td><%= r.repository_stats.total %></td>
    <td><%= r.repository_stats.modules_day %></td>
  </tr>
<% end %>
</table>
