<h1>Module Counts</h1>
<table>
<% @repositories.each do |r| %>
  <tr>
    <td><a href="<%= r.url %>"><%= r.name %></a></td>
    <td><%= r.latest_count.value %></td>
    <td><%= r.latest_count.record_date.to_date %></td>
  </tr>
<% end %>
</table>
